footer {
  padding: 50px 0 0 0;
  background-color: var(--dark-blue);
  font-size: var(--body-font-size-s);
}

footer .footer .section:first-of-type > div {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 16px;
}

footer .footer p {
	margin: 0;
	color: var(--white);
	grid-column: 1/ span 4;
}

footer .footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* first column */
footer .footer p:first-of-type {
	grid-row: 1;
}

footer .footer p > picture > img {
	width: 200px;
	height: auto;
	display: block;
}

footer .footer p:nth-of-type(2) {
	font-size: 14px;
	grid-row: 2;
	margin: 20px 0;
	font-weight: 300;
	line-height: 1.42857143;
	padding-right: 10px;
}

footer .footer p:nth-of-type(3) {
	grid-row: 3;
}

footer .footer p:nth-of-type(3) a {
	margin: 0;
	padding: 0 42px 0 0;
	background-color: transparent;
	font-size: 20px;
	text-transform: capitalize;
    font-family: var(--heading-font);
    font-weight: 500;
	position: relative;
	text-decoration: underline;
}

/* arrow line */
footer .footer p:nth-of-type(3) a::before {
    content: '';
	display: inline-block;
	background-color: var(--neon);
    width: 20px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: width .25s ease-out;
	border: none;
	opacity: 1;
}

footer .footer p:nth-of-type(3) a:hover::before {
	width: 35px;
}

/* arrow point */
footer .footer p:nth-of-type(3) a::after {
	content: '';
	border: solid var(--neon);
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 4px;
	transform: rotate(-45deg);
	position: absolute;
	right: 1px;
	top: 11px;
}

/* socials */
footer .footer ul:first-of-type {
	grid-column: 1/ span 4;
	grid-row: 4;
	display: flex;
	justify-content: flex-start;
	height: fit-content;
	margin-top: 30px;
}

footer .footer ul:first-of-type li {
	min-width: 44px;
	width: 44px;
	height: 44px;
	position: relative;
	border: 1px solid var(--white);
	border-radius: 44px;
	margin-right: 20px;
}

footer .footer ul:first-of-type li:hover {
	background-color: var(--white);
	cursor: pointer;
}

footer .footer ul:first-of-type li .icon {
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer .footer ul:first-of-type li .icon img {
	display: block;
	width: 16px;
	height: auto;
}

footer .footer ul:first-of-type li:hover .icon img {
	filter: brightness(0) saturate(100%) invert(7%) sepia(42%) saturate(6911%) hue-rotate(213deg) brightness(82%) contrast(93%);
}

/* links */
footer .footer ul:not(:first-of-type) {
	grid-row: 1 /span 4;
}

footer .footer ul:not(:first-of-type) li:first-of-type {
	display: none;
	position: relative;
}

footer .footer ul:nth-of-type(2) {
	grid-column: span 1;
}

footer .footer ul:nth-of-type(3) {
	grid-column: span 1;
}

footer .footer ul:nth-of-type(4) {
	grid-column: span 2;
}

footer .footer ul:nth-of-type(5) {
	grid-column: 10/ span 3;
}

/* column topper */
footer .footer ul:not(:first-of-type)::before {
	content: " ";
	display: block;
	width: 24px;
	height: 2px;
	margin-bottom: 20px;
	background-color: var(--neon);
}

footer .footer ul li a {
	color: var(--white);
	display: block;
	white-space: pre;
	font-family: var(--heading-font);
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 20px;
}

/* copyright */
footer .footer .section:nth-of-type(2) {
	background-color: var(--copyright-blue);
	font-size: 12px;
	padding: 15px 115px;
	color: var(--white);
	margin-top: 30px;
	font-weight: 300;
}

@media (width <= 992px) {	
	footer .footer .section:first-of-type > div {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 0;
		padding: 0 20px;
	}

	/* links - mobile */
	footer .footer ul:not(:first-of-type) {
		grid-row: span 1;
		border-top: 1px var(--white) solid;
	}
	
	footer .footer ul:nth-of-type(2) {
		grid-column: 1/ span 4;
		margin-top: 40px;
	}
	
	footer .footer ul:nth-of-type(3) {
		grid-column: 1/ span 4;
	}
	
	footer .footer ul:nth-of-type(4) {
		grid-column: 1/ span 4;
	}
	
	footer .footer ul:nth-of-type(5) {
		grid-column: 1/ span 4;
	}

	footer .footer ul:not(:first-of-type) li:first-of-type {
		display: block;
		color: var(--white);
		padding: 15px 0;
		font-size: 14px;
		line-height: 1.25;
	}

	footer .footer ul:not(:first-of-type)::before {
		display: none;
	}

	footer .footer ul:not(:first-of-type) li:first-of-type::before {
		content: " ";
		position: absolute;
		display: block;
		background-color: var(--neon);
		width: 12px;
		height: 2px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	footer .footer ul:not(:first-of-type) li:first-of-type::after {
		content: " ";
		position: absolute;
		display: block;
		background-color: var(--neon);
		height: 12px;
		width: 2px;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);
	}
	footer .footer .section:nth-of-type(2) {
		padding: 15px 20px;
	}

}